#body {
  display: flex;
  flex-direction: column;
  align-items: center; /* centra orizzontalmente */
  margin: 0;
  padding: 0; /* un po' di spazio sopra/sotto */
  background-color: #f5f5f5; /* se vuoi */
  font-family: "Alkatra";
}
.Grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  align-items: center;
}

#box{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: black;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 700px;
  box-shadow: 5px 5px 10px #888888;
}

.Flexbox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Flexbox2 {
  display: flex;
  gap: 10px;
}

#due {
  margin: 40px;
}

#boxRecensione {
  width: 100%;
  max-width: 100%;
  height: 150px;
  resize: none;
  font-size: 20px;
  padding: 4px;
  outline: none;
  transition: border 0.3s;
}

#boxRecensione:hover {
  border: 2px solid #00c6ff;

}


#valutazione {
  margin-right: 10px;
  padding-top: 6px;

}

#button {
  font-family: "Alkatra";
  background-image: linear-gradient(135deg, #00c6ff, #0072ff);
  border-radius: 50px;
  width: 200px;
  height: 50px;
  color: white;
  font-size: 26px;
  border: 2px solid #ddd;
  transition:  background-image 0.3s;
  cursor: pointer;
}

#button:hover {
  background-image: linear-gradient(135deg,#0072ff, #00c6ff);
}



#nomeLocale,
.Flexbox2,
#annulla {
  margin-bottom: 20px;
  font-weight: bold;

}

#annulla {
  cursor: pointer;
}

#nomeLocale{
  font-size: 30px;
}

#valutazione{
  font-size: 26px;
}

#numberBox{
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  height: 50px;
  outline: none;
  transition: border 0.3s;
}

#numberBox:hover {
  border: 2px solid #00c6ff;
}

.star{
  opacity: 0.5;
}
.Flexbox3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 30px;
  gap: 30px;
}

#annulla{
  font-size: 18px;
}
