#body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 40px 0;
  background-color: #f5f5f5;
}


.risposta {
  display: grid;
  grid-template-areas:
    "logo nome"
    "text text";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  width: 500px;
  height: 125px;

}

.immagine {
  grid-area:logo;
  width: 45px;
  height: 45px;
  align-self: center;
  margin-left: 10px;

  border-radius: 50%;
}

.nome {
  grid-area: nome;
  align-self: center;
  margin: 0;
}

.testo {
  grid-area:text;
  margin-top: 10px;
  overflow-y: auto;


  box-sizing: border-box;
  border: 3px solid;
  border-radius: 20px;
  padding: 8px 8px;

  background: linear-gradient(135deg, #ffffff, #f3f6fb);
  box-shadow:
    0 8px 20px rgba(0,0,0,0.12),
    inset 0 1px 0 rgba(255,255,255,0.7);
}


@media (max-width: 600px) {

  .risposta {
    width: 350px;
    height: 150px;
  }

  .nome{
    margin-left: 10px;
  }

}

