#body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 40px 0;
  background-color: #f5f5f5;
}

#accedi,#Registrati{ cursor: pointer; border: 2px solid #ddd;font-size: large; font-family: "System Bold Italic"; background-color: black; color:white; border-radius: 50px; width: 300px; height: 50px; padding:10px; margin-left: 20px; margin-top: 150px; transition: background-color 0.3s;}
h1{font-family: Verdana; font-size: xxx-large;}
.Flexbox1{
  padding-top: 5px;
  padding-bottom: 70px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: aquamarine;
  border: solid 2px black;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 5px 5px 10px #888888;
  gap: 0px;
}
#accedi:hover{background-color: #002233;}
#Registrati:hover{background-color: #002233;}


@media (max-width: 800px) {
  h1{
    font-size: x-large;
  }
  .Flexbox1 {
    width: 80%;
  }
}
