#body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 40px 0;
  background-color: #f5f5f5;
}

#principale{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: solid 2px black;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 5px 5px 10px #888888;
  gap: 0px;
}
#principale > button {
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

#principale2{
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0;
}

#fotoUtente{
  border-radius: 50%;
  box-shadow: 0px 5px 35px rgba(50,50,93,0.1), 10px 15px 25px rgba(0,0,0,0.07);
  align-self: center;
  transition: width 0.2s;
}

#fotoUtente:hover {
  width: 300px;
}

#textArea{
  resize: none;
  width: 50%;
  height: 100px;
  border-radius: 1rem;
  padding: 8px;
  font-size: 20px;
}

#secondario{
  padding-top: 20px;
}

@media (max-width: 1015px) {
  #secondario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.button{
  font-size: xx-large;
  font-family: "System Bold Italic";
  background-image: linear-gradient(135deg, #00c6ff, #0072ff);
  border-radius: 50px;
  width: 200px;
  height: 50px;
  color: white;
  margin: 10px 30px;
  font-size: 22px;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: background-image 0.3s;
  transition: width 0.3s;
}

button:hover {
  background-image: linear-gradient(135deg, #0072ff, #00c6ff);
  width: 300px;
}

#username{
  color: #888888;
  font-size: 22px;
}

h1, h2, h3{
  margin: 7px;
}

#logoutButton{
  font-size: 18px;
  background: black;
  color: white;
  border-radius: 50px;
}

#logoutButton:hover {
  font-size: 20px;
  width: 100px;
  height: 40px;
}

