#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 40px 0;
    background-color: #f5f5f5;
}

#principale{
    min-width: 300px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border: solid 2px black;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 5px 5px 10px #888888;

}

#principale2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;


}

#principale3{
    display: flex;
    flex-wrap: wrap;
}

#fotoProfilo{
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  box-shadow: 0 5px 35px rgba(50,50,93,0.1), 10px 15px 25px rgba(0,0,0,0.07);
  align-self: center;
  transition: width 0.2s;
}

#formContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 15px;

}

.divbox label {
    font-size: 26px;
}

.textArea {
    min-width: 30px;
    height: 40px;
    resize: none;
    padding: 5px;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 6rem;
    transition: border-color 0.3s;

}

.textAreaD {
  min-width: 30px;
  height: 40px;
  resize: none;
  padding: 5px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 6rem;
  transition: border-color 0.3s;

}

.textAreaD:hover {
    border-color: #00c6ff;
}

.textArea:hover {
  border-color: #00c6ff;
}

.divbox{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.cognome{
    margin-top: 25px;
}

.username{
    margin-top: 27px;

}

#descrizione{
    border-radius: 20px;
    height: 120px;   /* più alto */
    min-width: 350px; /* più largo*/
    transition: border-color 0.3s;
}

#descrizione:hover {border-color: #00c6ff;}

.button{
    font-size: xx-large;
    font-family: "System Bold Italic";
    background: linear-gradient(
        90deg,
        rgb(30, 170, 220),
        rgb(30, 130, 220)
    );
    border-radius: 50px;
    width: 200px;
    height: 50px;
    color: white;

}

.annulla{
  font-size: x-large;
  font-family: "System Bold Italic";
  background-color: white;

  border-radius: 50px;
  width: 200px;
  height: 50px;
}

#fotoButtonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sfoglia{
  margin-top: 15px;
  background-image: linear-gradient(135deg, #00c6ff, #0072ff);
  font-size: xx-large;
  font-family: "System Bold Italic";
  border-radius: 50px;
  width: 200px;
  height: 50px;
  color: white;
  cursor:pointer;
  border: 2px solid #ddd;
  transition: background-image 0.3s;
}

#salvaModifiche{
  margin-top: 30px;
  align-self: start;
  font-size: x-large;
  font-family: "System Bold Italic";
  border-radius: 50px;
  width: 200px;
  height: 50px;
  color: white;
  cursor:pointer;
  background-image: linear-gradient(135deg, #00c6ff, #0072ff);
  border: 2px solid #ddd;
  transition: background-image 0.3s;
}

#salvaModifiche:hover{
  background-image: linear-gradient(135deg, #0072ff, #00c6ff);
}
#sfoglia:hover {
  background-image: linear-gradient(135deg, #0072ff, #00c6ff);
}

.annulla {
  margin-top: 5px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.annulla:hover {
  border-color: red;
  color: red;
}

@media (min-width: 700px) and (max-width: 1300px) {

  .principale3 {
    width: 200%;
    height: 200%;
  }

  .textAreaD {
    width: 20px;
    height: 10px;
  }

  #fotoProfilo{
    min-width: 300px;
    margin-bottom: 60px;
    margin-top: 30px;
    margin-left: -20px;

  }

  .divbox descrizione {
    margin-right: 50px;
  }




  .formContainer {
    width: 200%;
  }
  #salvaModifiche{
    margin-top: 50px;
    align-items: center;
    margin-left: 20px;
  }
  .annulla {
    margin-left: 0px;
  }
  #sfoglia {
    margin-right: 50px;
  }



}

.button-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
  animation: spin 1s linear infinite;
}

#azioni-immagine {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
#elimina-immagine {
  font-size: 25px;
  margin-top: auto;
  margin-bottom: 10px;
  color: red;
  cursor: pointer;
  justify-self: center;
  align-self: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 700px) {
  #descrizione{
    min-width: 100px;
    margin-bottom: 50px;
  }
}


