#body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 40px 0;
  background-color: #f5f5f5;
  font-family: "Alkatra";
}

#principale{
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: aquamarine;
  border: solid 2px black;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 5px 5px 10px #888888;
  gap: 0px;
}

#fotoUtente{
  border-radius: 50%;
  box-shadow: 0px 5px 35px rgba(50,50,93,0.1), 10px 15px 25px rgba(0,0,0,0.07);
  width: 200px;
  height: 200px;
}

.button{
  font-family: "Alkatra";
  background: linear-gradient(
    90deg,
    rgb(30, 170, 220),
    rgb(30, 130, 220)
  );
  border-radius: 50px;
  width: 200px;
  height: 50px;
  color: white;
  margin: 10px 30px;
  font-size: 22px;
}


@media (max-width: 600px) {

}
