#body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 40px 0;
  background-color: #f5f5f5;
  font-family: "Alkatra";
}

#principale{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  border: solid 2px black;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 5px 5px 10px #888888;
  gap: 0px;
}

#nome{
  font-size: 30px;
}

#fotoUtente{
  border-radius: 50%;
  box-shadow: 0px 5px 35px rgba(50,50,93,0.1), 10px 15px 25px rgba(0,0,0,0.07);
  align-self: center;
  transition: width 0.2s;
}

#textArea{
  resize: none;
  width: 50%;
  height: 100px;
  border-radius: 1rem;
  padding: 8px;
  font-size: 20px;
  outline: none;
  transition: border 0.3s;
}

#textArea:hover {
  border: 1px solid #00c6ff;
}

#secondario {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}


.button{
  font-family: "Alkatra";
  background-image: linear-gradient(135deg, #00c6ff, #0072ff);
  border-radius: 50px;
  width: 200px;
  height: 50px;
  color: white;
  margin: 10px 30px;
  font-size: 22px;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button:hover {
  background-image: linear-gradient(135deg,#0072ff, #00c6ff);

}

#username{
  color: #888888;
  font-size: 22px;
}

h1, h2, h3{
  margin: 4px;
}

#stringaEmail{
  font-size: 22px;
}

#nelCuoreNumero{
  padding-top: 15px;
}

.sottoDiv{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#principale2{
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#terzario{
  margin-top: 15px;
}

@media (max-width: 600px) { /*media lavora come un if per il display, in questo caso sotto i 600px modifica la classe sottoDiv*/
  .sottoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #stringaEmail{
    font-size: 24px;
  }
  #terzario{
    margin-top: 0px;
  }
}
