.Grid{display: grid; grid-template-columns: auto auto auto; padding: 10px; align-items: center;}
.Flexbox2{display: flex; justify-content: space-around; align-items: stretch; align-content: flex-end; padding: 80px;}
.Flexbox3{display: flex; justify-content: space-around; align-items: flex-start;}
.Flexbox4{display: flex; justify-content: space-evenly;}
p {
  font-size: x-large;
  margin: 5px 0; /* Riduce lo spazio */
}
#search{font-size: x-large; font-family: "System Bold Italic"; background-color: white;  border-radius: 50px; width: 500px; height: 50px; padding:5px; border: 2px solid #ddd; outline: none;}
.Flexbox{display: flex; justify-content: space-around; align-items: center}
#home{font-size: x-large; font-family: "System Bold Italic"; background-color: white;  border-radius: 50px; width: 100px; height: 50px; padding:5px;  transition: color 0.3s; border: 0px solid #ddd; cursor: pointer}
#home:hover {background-image: linear-gradient(135deg, #00c6ff, #0072ff);  color: white;}
#FAQ:hover {background-image: linear-gradient(135deg, #00c6ff, #0072ff); color: white;}
#FAQ{font-size: x-large; font-family: "System Bold Italic"; background-color: white;  border-radius: 50px; width: 100px; height: 50px; padding:5px; transition: color 0.3s; border: 0px solid #ddd; cursor: pointer}

#recensione{font-size: x-large; font-family: "System Bold Italic"; background-color: white;  border-radius: 50px; width: 720px; height: 50px; padding:5px; border: 2px solid #ddd; outline: none;}
.Flexbox5{display: flex; justify-content: space-evenly; padding: 80px;}

#logo{cursor:pointer;}
#profilo{cursor:pointer;}


@media (min-width: 1024px) {
  .Grid {
    grid-template-columns: auto auto auto;
    padding: 20px 40px;
  }

  .Flexbox2 {
    padding: 80px 100px;
  }

  .Flexbox5 {
    padding: 80px 100px;
  }

  #search {
    width: 500px;
  }

  #recensione {
    width: 720px;
  }
}


@media (max-width: 600px) {
  .Grid {
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    padding: 15px 10px;
    align-items: center;
  }

  .Flexbox {
    flex-direction: row;
    gap: 8px;
    justify-content: flex-end;
  }

  .Flexbox2 {
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px;
    align-items: center;
  }

  .Flexbox3 {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .Flexbox4 {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .Flexbox5 {
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px;
    align-items: center;
  }

  #search {
    width: 100%;
    min-width: 150px;
    font-size: medium;
    height: 20px;
    padding: 5px 15px;
  }

  #recensione {
    width: 100%;
    max-width: 350px;
    font-size: large;
    height: 30px;
  }

  #home, #FAQ {
    width: 70px;
    height: 40px;
    font-size: medium;
    padding: 5px;
  }

  h1 {
    font-size: large;
  }

  p {
    font-size: small;
    text-align: center;
  }

  #logo{
    height: 80px;
    width: 80px;
  }

  #profilo {
    width: 40px;
    height: 40px;
    transition: opacity 0.3s;

  }
  #profilo:hover{opacity: 40%;}

}
