#body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #f5f5f5;
  font-family: "Alkatra", serif;
}

#principale{
  background-image: linear-gradient(0deg, #ffffff, #00c6ff);
  display: flex;
  width: 40%;
  border: solid 2px black;
  border-radius: 2rem;
  box-shadow: 5px 5px 10px #888888;
  gap: 0;
}

#valDiv {
  display: flex;
  flex-direction: column;
}

#stelleDiv{
  display: flex;
  gap: 5px;
}

.star{
  width: 25px;
}

#dati{
  font-size: 20px;
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

#secondario{
  margin-top: 10px;
  font-size: 20px;

  display: flex;
  align-items: center;
  gap: 5px;
}

#heart{
  width: 20px;
}

#fotoUtente{
  margin: 15px 30px;
  border-radius: 50%;
  box-shadow: 0px 5px 35px rgba(50,50,93,0.1), 10px 15px 25px rgba(0,0,0,0.07);
  width: 200px;
  height: 200px;
  margin-left: auto;
  border: solid black 2px;
}



.button {
  font-family: "Alkatra";
  padding: 12px 28px;
  font-size: 20px;
  border-radius: 50px;
  border: 2px solid ;
  background: linear-gradient(90deg, #ffffff, #a8d8ff);
  color: #003366;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.button:hover {
  background: linear-gradient(90deg, #0077ff, #00c6ff);
  color: white;
  border-color: #005fcc;
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

#indirizzo {
  font-size: 15px;
}


@media (min-width: 1024px) {
  #principale {
    width: 100%;
  }

  body {
    padding: 40px 0;
  }

}

@media (min-width: 600px) and (max-width: 1024px) {
  #principale {
    width: 70%;
  }

  #fotoUtente {
    width: 180px;
    height: 180px;
  }

  #dati {
    font-size: 18px;
  }

  .star {
    width: 22px;
    height: 22px;
  }
}


@media (max-width: 600px) {
  #principale {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 15px;

  }

  #dati {
    font-size: 16px;
    align-items: center;
  }

  #fotoUtente {
    width: 100px;
    height: 160px;
    margin-bottom: 15px;
    order: -1;
  }

  .star {
    width: 20px;
    height: 20px;
  }

  #valutazione, #likes {
    justify-content: center;
  }
}





