#body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  font-family: "Alkatra";
}

#principale{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: solid 2px black;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 5px 5px 10px #888888;
  gap: 0;
}

h2, h3 {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

.button{
  font-family: "Alkatra";
  background: linear-gradient(
    90deg,
    rgb(30, 170, 220),
    rgb(30, 130, 220)
  );
  border-radius: 50px;
  width: 200px;
  height: 50px;
  color: white;
  margin: 10px 30px;
  font-size: 22px;
}

.grid-strutture{
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 25px; margin-top: 10px;
}


@media (max-width: 800px) {
  #sadMan {
    width: 200px;
    height: 200px;
    margin-bottom: 100px;
  }


  #h2 {
    font-size: xx-small;
  }
}
