#body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 40px 0;
  background-color: #f5f5f5;
}
#startingImageDiv{
  display: flex;
}
#imgFaq{
  margin-left: 10px;
}
.faqContainer {
  border-style: solid;
  border-color: black;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  box-shadow: 5px 5px 10px #888888;
}

.secondoContainer {
  margin-top: 20px;
  text-align: center;
  max-width: 600px;
  width: 90%;
}

.arrow{
  width: 30px;
}

.summary{
  display: block;
}

.arrow{
  transform: rotate(90deg);
  cursor: pointer;

}

p{
  font-size: 20px;
}
